.AppHeader {
  background-color: #222831;
  text-align: center;
}

.AppDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7.5px;
  font-size: 18px;
  color: #fff;
}

.AppDisplay>* {
  margin: 7.5px;
}

.AppDisplayBudget {
  border-radius: 10px;
  padding: 15px;
  font-size: 50px;
}

.AppDisplayIncome td,
.AppDisplayExpenses td {
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #fff;
}

.AppDisplayIncome td {
  background-color: #3f50b5;
}

.AppDisplayExpenses td {
  background-color: #f44336;
}

.AppDisplayExpenses td:last-of-type>span {
  border-radius: 5px;
  background-color: #ba000d;
  margin-left: 10px;
  padding: 3px 5px;
}

.AppForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 7.5px;
}

.AppForm>* {
  margin: 7.5px !important;
}

.AppTransactions {
  background-color: #393e46;
  padding: 16px;
}

.AppTransactions table th,
.AppTransactions table td {
  padding: 20px;
}

.AppTransactions table td {
  width: 25%;
}

.AppContent {
  margin: 0 !important;
}

.AppContentColumn {
  padding: 0 !important;
}

tr>td:nth-child(2) {
  text-align: right;
}

.table-list-income tr th,
.table-list-income tr td {
  color: #3f50b5 !important;
}

.table-list-income tr:hover {
  background-color: #3f50b5;
}

.table-list-expense tr th,
.table-list-expense tr td {
  color: #f44336 !important;
}

.table-list-expense tr:hover {
  background-color: #f44336;
}

.table-list-income tr:hover>th,
.table-list-income tr:hover>td,
.table-list-expense tr:hover>th,
.table-list-expense tr:hover>td {
  color: #fff !important;
}

.table-list tr:hover td:last-of-type svg {
  display: block !important;
}
